// out: ../css/main.min.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

$base-font: 'Cascadia Code', Consolas, 'Courier New', monospace;

.barcode {
  font-family: 'Libre Barcode 128', cursive;
  font-size: 13mm;
  height: 10mm;
}

.text-barcode {
  font-family: $base-font;
}

input {
  font-family: $base-font;
  font-size: 2em !important;
  border-radius: 40px !important;
  text-align: center;
}

label {
  font-family: $base-font;
  padding-left: 30px;
}

@media screen {
  body {
    background-color: #212529;
  }
}

@media print {

  html,
  body {
    width: 88mm !important;
    height: 62mm !important;
    margin: 0;
    padding: 0;
  }

  .print-page-break {
    page-break-after: always;
  }
}