// out: ../css/main.min.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

.barcode {
  font-family: 'Libre Barcode 128', cursive;
  font-size: 13mm;
  height: 10mm;
}

.text-barcode {
  font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

input {
  font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
  font-size: 2em !important;
}

@media print {

  html,
  body {
    width: 88mm !important;
    height: 62mm !important;
    margin: 0;
    padding: 0;
  }

  .print-page-break {
    page-break-after: always;
  }
}